<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Work Sans" rel="stylesheet" />
<title></title>
</head>
<body
	style="display: block; width: 587px; height: 570px; background: #ffffff; border: 1px solid #663366; box-sizing: border-box;">
	<span id="mail-header"
		style="display: block; float: top; height: 105px; left: 283px; top: 20px; background: url(https://teamloan.pt/template-resources/mail-header.jpg);">
		<span id="team-loan-logo"
		style="position: absolute; width: 84px; height: 57px; left: 69px; top: 24px; background: url(https://teamloan.pt/template-resources/logo.png);"></span>
	</span>
	<span id="mail-body"
		style="display: block; height: 405px; left: 283px; top: 20px; background: #ffffff; box-sizing: border-box;">
		<span id="mail-body-thumbs-up"
		style="position: absolute; width: 58px; height: 54px; left: 69px; top: 143px; background: url(https://teamloan.pt/template-resources/thumbs-up.png);"></span>
		<span id="mail-body-title"
		style="position: absolute; left: 147px; right: 85px; top: 143px; bottom: 376px; height: 46px; width: 355px; font-family: Work Sans; font-style: normal; font-weight: bold; font-size: 20px; line-height: 23px; text-transform: uppercase; color: #663366;">O
			seu email foi adicionado com sucesso</span> <img id="mail-body-lines"
		src="https://teamloan.pt/template-resources/lines-bg.png"
		style="position: absolute; left: 94px; right: 209.55px; top: 255px; bottom: 136px;" />
		<span id="mail-body-text"
		style="position: absolute; width: 374px; height: 148px; left: 132px; top: 230px; font-family: Work Sans; font-style: normal; font-weight: normal; font-size: 12px; line-height: 14px; text-align: justify; color: #000000;">
			<p>Acusamos a receção da sua manifestação de interesse na
				TeamLoan e vamos informá-lo assim que esta plataforma de cooperação
				entre empresas estiver pronta.</p>
			<p>Se ainda tem dúvidas de como é que a TeamLoan pode ajudar o
				seu negócio, nós explicamos: A TeamLoan é uma plataforma onde
				qualquer negócio, desde pequenos estabelecimentos comerciais a
				grandes empresas, se pode registar para partilhar equipas,
				temporariamente.</p>
			<p>Em breve, entraremos em contacto para o informar de que a
				plataforma está pronta para que possa fazer o seu registo.</p>
	</span>
	</span>
	<span id="mail-footer"
		style="display: block; float: bottom; height: 58px; left: 283px; top: 532px; background: #333333;">
		<span id="mail-footer-text"
		style="position: absolute; width: 184px; height: 12px; left: 132px; top: 540px; font-family: Work Sans; font-style: normal; font-weight: normal; font-size: 10px; line-height: 12px; text-align: right; color: #ffffff;">Uma
			iniciativa no âmbito do projecto:</span><img id="mail-footer-logo"
		src="https://teamloan.pt/template-resources/logo-tech4covid19.png"
		style="position: relative; width: 97px; height: 36px; left: 328px; top: 15px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" />
	</span>
</body>
</html>