<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TeamLoan no ar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0"
					style="display: block; width: 587px; background: #ffffff; border: 1px solid #663366;">
					<tr>
						<td align="center"><img
							src="https://teamloan.pt/template-resources/mail-header-joined.jpg"
							alt="Team Loan" style="display: block;" /></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td
										style="font-family: Work Sans; font-style: normal; font-weight: bold; font-size: 20px; line-height: 23px; text-transform: uppercase; color: #663366;">
										<b>TeamLoan no ar!</b>
									</td>
								</tr>
								<tr>
									<td
										style="padding: 20px 0 30px 0; color: #153643; font-family: Work Sans; font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; text-align: justify; color: #000000;">
										<p>Olá comunidade TeamLoan!</p>
										<p>
											Na sequência da demonstração de interesse em receber mais
											informações, temos o prazer de partilhar em 1ª mão que a
											plataforma TeamLoan já está inteiramente funcional, passando
											a ser possível registar, procurar e partilhar equipas em <a
												href="https://www.teamloan.pt">www.teamloan.pt</a>
										</p>
										<p>O processo é muito simples e não tem qualquer custo
											associado, uma vez ter como objetivo apoiar as empresas
											portuguesas no contexto do COVID’19.</p> <img width="100%"
										src="https://www.teamloan.pt/template-resources/teamloan-how-it-works.png"
										alt="Funcionamento do TeamLoan" />
										<p>Caso tenha algum feedback, por favor envie para o
											e-mail geral@teamloan.pt.</p>
										<p>Confiamos que, juntos, podemos contribuir para que as
											empresas e equipas portuguesas ultrapassem os desafios do
											COVID-19.</p> <br />
										<p>
											<a href="http://www.teamloan.pt/#/register">Registe-se
												já aqui</a>. Boas partilhas!
										</p> <br />
										<p>
											<b>Equipa TeamLoan</b>
										</p>
										<p>teamloan.pt</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#333333" style="padding: 30px 30px 30px 30px;">
							<a href="https://tech4covid19.org/"><img
								id="mail-footer-logo"
								src="https://teamloan.pt/template-resources/logo-tech4covid19.png"
								style="display: block; float: right; width: 97px; height: 36px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-right: 125px;" /></a>
							<span id="mail-footer-text"
							style="display: block; float: right; width: 184px; height: 12px; font-style: normal; font-weight: normal; font-size: 11px; line-height: 25px; text-align: right; color: #ffffff; margin-right: 50px;">Uma
								iniciativa no âmbito do projecto:</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>